<section class="shelter-grid">
  <% @shelters.each do |shelter| %>
    <%=
      render(
        ShelterComponent.new(
          id: shelter.id,
          name: shelter.name,
          city: shelter.city,
          state: shelter.state,
          rank: shelter.rank,
          foster_program: shelter.foster_program
        )
      )
    %>
  <% end %>
</section>
