.applications-heading {
  text-align: center; 
}

.applications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.application {
  border: 2px solid var(--border);
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;
}

.application * {
  margin: 0;
}

.application h2 {
  color: var(--text-light);
  margin-bottom: .5rem;
}

.application h4 {
  color: var(--code);
  margin-bottom: .5rem;
}

.application div {
  margin: 2rem 0;
}

.application p {
  margin: 1rem 0;
}
