<section class="pets-grid">
  <% @pets.each do |pet| %>
    <%= 
      render(
        PetComponent.new(
          id: pet.id,
          name: pet.name,
          age: pet.age,
          breed: pet.breed,
          adoptable: pet.adoptable
        )
      )
    %>
  <% end %>
</section>
