<section class="forms">

  <%= turbo_frame_tag "new_application_form" do %>
    <%= render "users/applications/application_form" %>
  <% end %>

  <div class="form-swap">
    You're almost there!
  </div>

</section>
