<section>
  <%= 
    render(
      ApplicationComponent.new(
        id: @application.id,
        first_name: @application.first_name,
        last_name: @application.last_name,
        address: @application.address,
        city: @application.city,
        state: @application.state,
        zip: @application.zip,
        description: @application.description,
        status: @application.status,
        pets: @application.pets
      )
    )
  %>
</section>
