<section class="forms">

  <%= turbo_frame_tag "new_user_form" do %>
    <%= render "users/form" %>
  <% end %>

  <div class="form-swap">
    Already have an account? <%= link_to("Login", "/login") %>
  </div>

</section>
