/* Code from: https://codepen.io/pure-css/pen/bddggP?editors=1100 */

.tool {
    cursor: help;
    position: relative;
}


/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
    left: 50%;
    opacity: 0;
    position: absolute;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 100; 
}


/*== pointer tip ==*/
.tool::before {
    border-style: solid;
    border-width: 1em 0.75em 0 0.75em;
    border-color: var(--border) transparent transparent transparent;
    bottom: 100%;
    content: "";
    margin-left: -0.7em;
    margin-bottom: 0.1em;
} 

.tool:hover::before,
.tool:focus::before {
    transition: all .50s cubic-bezier(.84,-0.18,.31,1.26) .1s;
}


/*== speech bubble ==*/
.tool::after {
    background: var(--accent-light);
    border-radius: .25em;
    bottom: 180%;
    color: var(--bg);
    font-weight: bold;
    content: attr(data-tip);
    margin-left: -12.75em;
    padding: 1em;
    transition: all .50s cubic-bezier(.84,-0.18,.31,1.26) .1s;
    transform:  scale(.6) translateY(50%);  
    width: 12em;
}

.tool:hover::after,
.tool:focus::after  {
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
}
