header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

header img {
  width: 2rem;
  margin-right: .2rem;
}

header p {
  font-weight: bold;
  color: var(--text);
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav a {
  margin: 0 1rem 0 0;
}
