<section class="pets-grid">
  <% if @pets.empty? %>
    <div class='no-pets'>
      <h1>Currently, there are no pets at this shelter.</h1>
      <%= image_tag('no_pets.png') %>
    </div>
  <% else %>
    <% @pets.each do |pet| %>
      <%= 
        render(
          PetComponent.new(
            id: pet.id,
            name: pet.name,
            age: pet.age,
            breed: pet.breed,
            adoptable: pet.adoptable
          )
        )
      %>
    <% end %>
  <% end %>
</section>
