<header>
  <div class="logo">
    <%= image_tag("dog.png", alt: "Logo") %>
    <p>Adopt Don't Shop</p>
  </div>
  <nav class="main-nav">
    <ul>
      <li>Shelters</li>
      <li>Pets</li>
      <li>Applications</li>
      <%= image_tag("user.png", alt: "User") %>
    </ul>
  </nav>
</header>
